<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GridConditioner.Properties.Settings.GRID_CONDITIONINGConnectionString"
            connectionString="Data Source=BESDBDEV1;Initial Catalog=GRID_CONDITIONING;User ID=GIS;Password=Hydr0plane"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>